<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ExamMapper">
    <select id="findExam"   resultType="com.example.demo.model.Exam" >
    select exam_id,exam_name from exam
  </select>
</mapper>
